* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Quicksand', sans-serif !important;
    scroll-behavior: smooth;
}

#main {
    height: 200px;
    position: relative;
    width: 100%;
}

#header_slide {
    position: static;
    top: 0px;
    width: 100%;
    min-height: 200px;
    padding: 0 0;
    z-index: 1;
    background-color: #5B5656;
    justify-content: center;
    text-align: center;
    object-position: center;
}

#header_slide img {
    width: auto;
    max-height: 200px;
    transform: scale(2) translateY(3%);
}

@media (max-width:900px) {
    #header_slide {
        position: static;
        top: 0px;
        width: 100%;
        min-height: 150px;
        padding: 0 0;
        z-index: 1;
        background-color: #5B5656;
        justify-content: center;
        text-align: center;
        object-position: center;
    }
    #header_slide img {
        width: auto;
        max-height: 200px;
        transform: scale(1.3) translateY(5%) !important;
    }
}

#heade_bar {
    top: -1px;
    width: 100%;
    z-index: 999;
}

#heade_bar nav {
    padding: 0 1%;
    font-family: 'Quicksand', sans-serif !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* background-color: black !important;
    color: #ccc!important; */
}

#heade_bar nav .dropdown-menu {
    border-radius: 0 0 20px 20px;
    padding: 0;
    margin: 0;
}

.navbar li {
    color: rgb(255, 255, 255);
    display: inline-block;
    position: relative;
}

.navbar>li>a {
    color: white;
}

.navbar>li>a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 40px;
}

#heade_bar .subnav {
    position: relative;
    display: none;
    background-color: #062421;
    box-shadow: 0 0 15px rgba(30, 30, 30, 0.5);
    border-radius: 0 0 15% 5%;
}

#heade_bar li:hover {
    background-color: #ccc!important;
    font-weight: bold;
    font-size: large;
}

#heade_bar>li:hover>.subnav li a {
    background-color: #5B5656;
}

#heade_bar li:hover .subnav {
    position: absolute;
    display: grid;
    width: 100%;
    text-align: left;
}

.subnav li a {
    position: relative;
    color: rgb(255, 255, 255)!important;
    text-decoration: none;
    line-height: 40px;
    padding-left: 40px;
    font-weight: 100;
}

.subnav>li {
    position: relative!important;
}

.nav_icon {
    padding: 0 15px;
}

.search {
    position: relative;
    float: right;
    color: #ccc;
    line-height: 46px;
    padding: 0 30px;
}

.search:hover {
    background-color: #f44336!important;
}

#sale {}

#sale .h1 {
    padding: 10px 5px 5px 5px;
    width: 35%;
    font-weight: bolder;
    font-size: x-large;
    animation: change_color 0.5s infinite;
}

@keyframes change_color {
    0% {
        color: #f44336;
    }
    50% {
        color: rgb(250, 68, 8);
    }
}

@keyframes spin_border {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

#content .maindirectory {
    position: relative;
    color: #000000;
    height: auto;
    width: 100%;
    padding-bottom: 20px;
    /* transform: translate(5%, 0); */
}

.container .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
}

.maindirectory .card {
    height: 180px;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 5px;
}

.card {
    background-size: cover;
    background-position: center;
    padding: 0;
    background-color: rgba(70, 67, 69, 0.3)!important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.5s ease-in-out !important;
}

.card .card_name {
    transform: translate(0px, 145px);
    padding-left: 25px;
    font-size: x-large;
    font-weight: bolder;
    color: #002b34;
    backdrop-filter: blur(20px);
    width: 100%;
    border-radius: 0 0 20px 20px;
}

.card:hover {
    background-size: cover!important;
    background-size: 120%!important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all 0.3s ease-in-out !important;
}

.card:hover .card_name {
    color: rgba(0, 0, 0, 0.8);
    animation: neonEffect 1.5s linear infinite;
    /* Apply the neon animation on hover */
}

@keyframes neonEffect {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0ff, 0 0 70px #0ff, 0 0 80px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
    }
    /* 95% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0ff, 0 0 35px #0ff, 0 0 40px #0ff, 0 0 50px #0ff, 0 0 75px #0ff;
    } */
    100% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(251, 0, 255), 0 0 35px rgb(251, 0, 255), 0 0 40px rgb(251, 0, 255), 0 0 50px rgb(251, 0, 255), 0 0 75px rgb(251, 0, 255);
    }
}

@media (max-width:900px) {
    .MAIN_ITEM {
        position: relative;
        margin: 20px 0px !important;
    }
    .maindirectory .card {
        margin: 5px;
        margin-top: 20px;
    }
    .maindirectory .card .card_name {
        position: relative;
        font-size: 1.1rem !important;
        bottom: -8px !important;
    }
}

.MAIN_ITEM {
    position: relative;
    margin: 20px 10%;
}

.name_main_item {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    padding: 20px 0 5px 0;
}

@media (max-width: 900px) {
    .name_main_item {
        transform: scale(0.8);
        position: relative;
        display: flex;
        justify-content: space-between;
    }
}

.name_main_item .ABC {
    display: inline-block;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    animation: rev 3s infinite;
    animation-delay: calc(.2s * var(--i));
}

@keyframes rev {
    0%,
    80% {
        transform: rotateY(360deg)
    }
}

.content_main_item {
    position: relative;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant: normal;
}

@media(max-width:768px) {
    .container .row {
        justify-content: center;
        flex-wrap: wrap;
    }
}

#slide_main_item {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 450px;
    background-image: linear-gradient(to right, #333333, #818181, #333333);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    animation: 1s ease-in-out;
}

#slide_main_item::after {
    position: absolute;
    width: 100.5%;
    height: 102%;
    content: "";
    background-image: linear-gradient( var(--rotate), rgba(251, 128, 67, 0.9), rgba(202, 67, 251, 0.9), rgba(216, 51, 131, 0.9));
    left: -0.25%;
    top: -1%;
    border-radius: 20px;
    z-index: -1;
    animation: spin_border 1s ease-in infinite;
}

#slide_main_item::after {
    filter: blur(20px);
}

#slide_main_item .slide_item {
    margin-top: 30px;
    transition: 0.5s;
    position: absolute;
    width: 350px;
    height: 350px;
    transform: translate(0, 10px);
    left: calc(50% - 175px);
    background-color: #565252;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.slide_item .image_slide {
    display: flex;
    transform: translate(calc(50% - 125px), 20px);
    position: absolute;
    width: 300px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#slide_main_item .content_slide {
    position: relative;
    width: 100%;
    transform: translate(20px, 230px);
    text-align: left;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: large;
}

#slide_main_item .content_slide .size_led,
.price_led {
    font-weight: 100;
    font-size: medium;
}

.buy {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 50px);
    width: 100px;
    height: 35px;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.buy:hover {
    background-color: #ff1919;
    color: #e8e8e8;
}

.buy::after {
    position: absolute;
    width: 100.5%;
    height: 102%;
    content: "";
    background-image: linear-gradient( var(--rotate), rgba(251, 128, 67, 0.9), rgba(202, 67, 251, 0.9), rgba(216, 51, 131, 0.9));
    left: -0.25%;
    top: -1%;
    border-radius: 20px;
    z-index: -1;
    opacity: 0;
}

.buy:hover::after {
    filter: blur(10px);
    animation: spin_border 0.5s ease-in infinite;
    opacity: 1;
}

#slide_main_item #prev_slide,
#slide_main_item #next_slide {
    position: absolute;
    background-color: transparent;
    border: none;
    bottom: 20px;
    left: 54%;
    transition: 0.5s;
    outline: none;
    animation: blink 1s infinite;
    animation-delay: 0.5s;
}

#slide_main_item #prev_slide {
    left: 45%;
    animation: blink 1s infinite;
}

#slide_main_item #prev_slide:focus-visible,
#slide_main_item #next_slide:focus-visible,
#slide_main_item #prev_slide:hover,
#slide_main_item #next_slide:hover {
    color: #f44336;
    bottom: calc(20px - 15px);
    font-size: 30px;
    transition: 0.2s;
    border: none;
    outline: none;
}

#slide_main_item {
    display: none;
}

#slide_main_item_moblie {
    display: flex;
}

#showmore {
    position: relative;
    width: 120px;
    height: 46px;
    left: calc(50% - 60px);
    border-radius: 10px;
    border: none;
    outline: 0px;
    font-family: 'Quicksand', sans-serif !important;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#showmore a {
    text-decoration: none;
    color: #fff;
}

.card_item {
    transition: all 0.5s !important;
    transform: scale(0.9);
    padding: 0 0 5px 0 !important;
}

.card_item:nth-child(n+4) {
    display: none;
    opacity: 0;
    transition: 1.5s ease !important;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 900px) {
    #slide_main_item {
        display: none;
    }
    #slide_main_item_moblie {
        display: flex;
    }
    #showmore {
        position: relative;
        width: 120px;
        height: 46px;
        left: calc(50% - 60px);
        border-radius: 10px;
        border: none;
        outline: 0px;
        background-color: #DD4B39;
        color: #ffffff;
    }
    .card_item {
        transition: show 1.5s ease !important;
    }
    .card_item:nth-child(n+4) {
        display: none;
        opacity: 0;
        transition: 1.5s ease !important;
    }
    @keyframes show {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.led_neon_banghieu {
    margin-top: 90px !important;
}

@keyframes blink {
    0% {
        color: #ccc;
    }
    100% {
        color: #ff0000;
    }
}

#tranhin {
    transform: translate(0, -90px);
}

#container_SP_tranh {
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Quicksand', sans-serif !important;
}

.video_content {
    font-family: 'Quicksand', sans-serif !important;
}

.video_content h1 {
    font-size: 1.2rem;
    font-weight: bolder;
}

.video_content .price {
    padding-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.video_content .price .old_price {
    margin-left: 10px !important;
    text-decoration: line-through;
    text-decoration-color: #f44336;
    font-size: 15px;
    justify-content: baseline;
    text-align: center;
    transform: translateY(5px);
}

.video_content .price .specical_price {
    color: #f44336;
    font-weight: 800;
}

.video_content h2 {
    font-size: 20px;
}

.video_content .buy {
    transform: scale(1.2) translateY(50px);
    background-color: #f44336;
}

.ABC {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 900 !important;
}

@media (max-width: 900px) {
    .video_content>h2,
    .video_content ul h2 {
        font-size: 0.8rem !important;
    }
    .price .old_price {
        transform: translateX(60%) !important;
    }
}

.image_frame {
    position: relative;
    padding: 0;
    margin-right: 5%;
    max-width: 600px;
    height: auto;
    min-height: 300px !important;
    border-radius: 20px;
    object-position: center !important;
    transition: 1s;
}

.image_container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    left: 5%;
    min-height: 200px !important;
    max-width: 70%;
    right: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    animation: 1s;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

@media (max-width: 900px) {
    .image_container {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        left: 5%;
        min-height: 150px !important;
        max-width: 90%;
        right: 10%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
        animation: 1s;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    .button_image {
        position: relative;
        transform: translate(1.8%, -400%) !important;
    }
}

.button_image {
    position: relative;
    transform: translate(10%, -480%);
}

.button_image button {
    margin: 25px 30px;
    position: relative;
    background-color: transparent;
    border: none;
    transition: 0.5s;
    outline: none;
    animation: 1s ease-in-out 1 forwards;
}

#prev_image:focus-visible,
#next_image:focus-visible,
#prev_image:hover,
#next_image:hover {
    color: #f44336;
    font-size: 33px;
    font-weight: 700;
    border: none;
    outline: none;
}

#prev_image:focus,
#next_image:focus {
    outline: 0 !important;
}

.image_container:nth-child(1) {
    width: 100%;
    height: auto;
    min-height: 200px;
    max-height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.image_container:nth-child(2),
.image_container:nth-child(3) {
    opacity: 0;
}

ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background: #151414;
    position: relative;
    top: 100%;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
    transform: translate(-25px, 0);
    object-position: center;
}

.footer-logo img {
    max-width: 400px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
    padding: 0 5px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    z-index: 9;
    position: absolute;
}

.facebook-bg {
    background: #3B5998;
}

.twitter-bg {
    background: #55ACEE;
}

.google-bg {
    background: #DD4B39;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #ff5e14;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #ff5e14;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #ff5e14;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}